h1 {
    text-align: center;
}

body {
    background-color: rgb(36, 150, 179);
}

.mybuttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.rock {
    background: url(images/rock.jpg);
}

.paper {
    background: url(images/paper.jpg);
}

.scissors {
    background: url(images/scissors.jpg);
}

.rock, .paper, .scissors {
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
}